.timeline-container {
    position: relative;
    width: 100%;
    margin: 0 auto; /* Center the timeline */
}

/* Styling the container after*/
.timeline-container::after {
    content: '';
    position: absolute;
    width: 10px;
    background-color: darkblue;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}

/*Styling the text container and making sure text does not wrap around image*/
.text-wrapper {
    padding: 10px 30px; 
    position: relative; 
    width: 51%; 
    box-sizing: border-box; 
    margin: 40px 0;
    clear: both;
}

/* Classes for if the timeline card is on the left or right of the timeline */
.left{ 
    left: 0; 
} 

.right{ 
    left:50%; 
} 
.right::after{ 
    left:-10px; 
} 

/*Container for each card on the timeline*/
.content{ 
    padding: 15px; 
    background-color: lightgrey; 
    border-radius: 4px; 
} 

.content :is(h1, h2, h3 ,h4){ 
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: darkblue;
    text-align: center
}

.content .content-body {
    display: flex;
    flex-direction: column;
}

.content p{ 
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;  
    text-align: center;
}

/*Styling the image in the container*/
.content img {
    border-radius: 50%;
    width: 150px;    
    height: 150px;
    object-fit: cover;
    margin-right: 5px;
    margin-left: 5px;
}

.content img:hover {
    transform: scale(1.2);
}
