/* Styling for the forms */


/* Name Input Box */
#name input {
    margin-top: 10px;
    outline: gray;
}

/* Email Input Box */
#email input {
    margin-top: 10px;
    outline: gray;
}

/* Message Text Area */
#message textarea {
    width: 600px;
    height: 250px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: gray;
}

/* Class for the Submission button */
input[type=submit] {
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 4px;
    resize: vertical;
    cursor: pointer;
    width: 100px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif
}

input[type=submit]:hover {
    color: lightblue;
}

/* Container for all the input boxes and forms and controlling
   the input boxes  */
.form-container {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.form-container label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.form-container input {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.form-container textarea {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}