
/* Styling for the image spanning the width of the screen*/
.home_img {
    padding: 0;
    display: block;
    margin: 0 auto;
    height: 17%;
    width: 100%;
    object-fit: cover;
    opacity: 1;
}